@media screen and (max-width: 1441px)
{
    .amenities__title
    {
        font: 500 20px/30px 'Gilroy', sans-serif;
    }

    .list
    {
        margin-left: 260px;
    }

    .convience__label
    {
        width: 20px;
        height: 20px;
    }

    .list__item
    {
        font: 14px/20px 'Gilroy', sans-serif;
    }

    .item__space
    {
        padding-bottom: 5px;
    }

    .pros__items
    {
        flex-direction: column-reverse;
        margin: 0;
    }

    .items__wrapper,
    .items__wrapper:last-child
    {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }

    .items__wrapper-nowrapper
    {
        justify-content: flex-start;
        margin-bottom: 11px;
        max-width: 100%;
        width: 100%;
    }

    .wrapper__button_form
    {
        max-width: 32%;
    }
}

@media screen and (max-width: 1201px) 
{
    .list
    {
        margin-left: 219px;
    }

    .wrapper__button_form
    {
        max-width: 39%;
    }

    .footer__scrollup
    {
        left: 50px;
    }
}

@media screen and (max-width: 1100px)
{
    .reservation__name
    {
        font: 500 32px/48px 'Gilroy', sans-serif;
        margin: 10px 0;
    }

    .description__heading
    {
        margin-bottom: 10px;
    }

    .description__title
    {
        font: 18px/27px 'Gilroy', sans-serif;
        max-width: 80%;
        width: 100%;
    }

    .description__capacity
    {
        font: 18px/27px 'Gilroy', sans-serif;
        max-width: 20%;
        width: 100%;
        text-align: end;
    }

    .description__items
    {
        margin-bottom: 14px;
    }

    .description__reserve
    {
        flex-direction: column;
        align-items: normal;
    }

    .reserve__info
    {
        font: 500 18px/27px 'Gilroy', sans-serif;
        max-width: 100%;
        margin-bottom: 13px;
    }

    .reserve__info__different
    {
        font: 500 18px/27px 'Gilroy', sans-serif;
        color: #8C8C8C;
    }

    .reserve__button
    {
        max-width: 100%;
    }

    .wrapper__button_form
    {
        max-width: 42%;
    }
}

@media screen and (max-width: 1001px)
{
    .header__container
    {
        max-width: 100%;
        margin: 0 20px 0 20px;
    }

    .main__container
    {
        max-width: 100%;
        margin: 0 0 0 20px;
    }

    .description__text
    {
        font: 14px/20px 'Gilroy', sans-serif;
    }

    .info__other
    {
        margin-bottom: 110px;
    }

    .heading
    {
        font: 500 30px/45px 'Gilroy', sans-serif;
    }

    .info__about
    {
        margin-bottom: 110px;
    }

    .about__description
    {
        font: 16px/24px 'Gilroy', sans-serif;
    }

    .info__feedbacks
    {
        margin-bottom: 110px;
    }

    .feedbacks__button
    {
        justify-content: center;
    }

    .button__share
    {
        max-width: 98%;
    }

    .info__coworkings
    {
        margin-bottom: 110px;
    }

    .button__spaces
    {
        max-width: 98%;
    }

    .footer__container
    {
        max-width: 92.5%;
        margin: 20px 20px 30px 20px;
    }

    .footer__number,
    .footer__email
    {
        font: 500 22px/31px 'Gilroy', sans-serif;
    }

    .wrapper__button_form
    {
        max-width: 36%;
        width: 100%;
    }
}

@media screen and (max-width: 999px)
{

    .above__logo
    {
        max-width: 50%;
    }
    .footer__above_info
    {
        flex-direction: column;
    }

    .under__wrapper_about,
    .under__wrapper_towns,
    .under__wrapper_info,
    .under__wrapper_connection
    {
        max-width: 50%;
        width: 100%;
        justify-content: normal;
        margin-bottom: 20px;
    }

    .under__wrapper_about,
    .under__wrapper_towns
    {
        height: 267px;
        border-bottom: 2px solid #0068E1;
    }

    .wrapper__button_form
    {
        max-width: 50%;
        width: 100%;
    }

    .wrapper__bottom,
    .submit__button
    {
        margin: 0;
    }
}

@media screen and (max-width: 801px)
{
    .header__menu
    {
        display: none;
    }

    .header__menu.active
    {
        position: absolute;
        top: -9px;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #fafafa;
        max-width: 100%;
        width: 100%;
        padding: 18px 10px;
        height: 564px;
        justify-content: normal;
    }

    .menu__item
    {
        margin-bottom: 25px;
    }

    .menu__back
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 100;
        margin-bottom: 61px;
        cursor: pointer;
    }

    .back__icon
    {
        margin-right: 10px;
    }

    .header__hamburger
    {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 101;
        cursor: pointer;        
    }

    .header__hamburger .hamburger,
    .header__hamburger::before,
    .header__hamburger::after
    {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .3s ease 0s;
        background-color: #1883FF;
    }

    .header__hamburger::before,
    .header__hamburger::after
    {
        content: "";              
    }
    
    .header__hamburger::before
    {
        top: 0;
    }

    .header__hamburger::after
    {
        bottom: 0;
    }

    .header__hamburger .hamburger
    {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }

    .header__hamburger.active .hamburger
    {
        transform: scale(0) translate(0, -50%);
        background-color: #8C8C8C;
    }

    .header__hamburger.active::before
    {
        top: 45%;
        transform: rotate(-45deg) translate(0, -50%);        
        background-color: #8C8C8C;
    }

    .header__hamburger.active::after
    {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
        background-color: #8C8C8C;
    }

    .heart
    {
        display: none;
    }

    .main__container
    {
        margin: 0 20px;
        max-width: 100%;
    }

    .main__info
    {
        max-width: 100%
    }

    .main__navigation
    {
        z-index: -1;
    }

    .main__map
    {
        display: none;
    }

    .info__reservation
    {
        max-width: 100%;
    }

    .info__other
    {
        max-width: 100%;
    }    

    .info__container
    {
        max-width: 100%;
    }

    .info__map-mobile
    {
        display: block !important;
        margin-bottom: 80px;
    }

    .info__facilities
    {
        max-width: 100%;
    }

    .list
    {
        margin-left: 170px;
    }

    .info__about
    {
        max-width: 100%;
        padding-right: 6px;
        margin-bottom: 80px;
    }

    .feedbacks__wrapper
    {
        max-width: 100%;
    }

    .wrapper__arrows
    {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 641px)
{
    .logo
    {
        max-width: 64px;
    }

    .header__menu
    {
        width: 20%;
    }
    
    .header__number
    {
        margin: 0 2% 0 0;
    }

    .header__icons
    {
        justify-content: space-evenly;
        width: 30%;
    }

    .icons__wrapper
    {
        width: 24px;
    }

    .header__hamburger
    {
        width: 100%;
    }

    .main__container
    {
        margin: 0 10px;
    }

    .main__info
    {
        margin: 0;
    }

    .slider_main .slick-arrow
    {
        width: 40px;
        height: 40px;
    }

    .reservation__name
    {
        font: 500 30px/45px 'Gilroy', sans-serif;
    }

    .info__other
    {
        margin-bottom: 95px;
    }

    .heading
    {
        font: 500 24px/36px 'Gilroy', sans-serif;
    }

    .formats__slider_bigtop .slick-arrow,
    .formats__slider_bigbottom .slick-arrow
    {
        width: 25px;
        height: 25px;
    }

    .formats__slider_bigtop .slick-arrow.slick-prev,
    .formats__slider_bigbottom .slick-arrow.slick-prev
    {
        margin-left: 10px;
    }

    .formats__slider_bigtop .slick-arrow.slick-next,
    .formats__slider_bigbottom .slick-arrow.slick-next
    {
        margin-right: 10px;
    }

    .facilities__wrapper
    {
        margin-bottom: 95px;
    }
    
    .info__feedbacks
    {
        margin-bottom: 95px;
    }

    .info__coworkings
    {
        margin-bottom: 95px;
    }

    .wrapper__arrows-coworkings
    {
        display: none;
    }

    .heading__title
    {
        font: 500 18px/27px 'Gilroy', sans-serif
    }

    .heading__street-name
    {
        font: 14px/20px 'Gilroy', sans-serif
    }

    .items__wrapper-nowrapper
    {
        justify-content: flex-end;
    }

    .coworkings__button
    {
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 639px)
{
    .main__info
    {
        margin-top: 15px;
    }

    .header__number
    {
        display: none;
    }

    .header__icons
    {
        justify-content: space-between;
        width: 40%;
    }

    .header__hamburger.active::before
    {
        top: 49%;
        transform: rotate(-45deg) translate(0, -50%);        
        background-color: #8C8C8C;
    }

    .main__navigation
    {
        display: none;
    }

    .slider_main .slick-dots
    {
        display: none !important;
    }

    .slider_main .slick-arrow
    {
        width: 25px;
        height: 25px;
    }

    .slider_main .slick-arrow.slick-prev
    {
        margin-left: 9px;
    }

    .slider_main .slick-arrow.slick-next
    {
        margin-right: 9px;
    }

    .slider_main .slick-arrow:hover
    {
        width: 25px;
        height: 25px;
    }

    .slider_small
    {
        display: none !important;
    }

    .reservation__name
    {
        font: 500 18px/27px 'Gilroy', sans-serif;
    }

    .reservation__wrapper
    {
        margin-bottom: 18px;
    }

    .address
    {
        font: 500 15px/22.5px 'Gilroy', sans-serif;
    }

    .info__other
    {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .info__wrapper
    {
        margin-bottom: 15px;
    }

    .info__wrapper:last-child
    {
        margin-bottom: 15px;
    }

    .info__tools
    {
        margin-bottom: 30px;
    }

    .wrapper__button
    {
        display: none;
    }

    .info__wrapper.wrapper__button
    {
        display: flex;
        max-width: 100%;
        width: 100%;
    }

    .heading
    {
        font: 500 18px/27px 'Gilroy', sans-serif;
    }

    .info__container
    {
        margin-bottom: 67px;
    }

    .container__buttons
    {
        display: none;
    }
    
    .buttons__format-flex,
    .buttons__format-meeting
    {
        display: none;
        font: 16px/22px 'Gilroy', sans-serif;
    }

    .buttons__format-flex.active,
    .buttons__format-meeting.active
    {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        max-width: 100%;
        width: 100%;
        border: 2px transparent;
        background-color: #1883FF;
        border-radius: 3px;    
        color: #fff;
        cursor: default;
        transition: all ease .3s;
        transform: translateY(.5px);
    }

    .formats__types
    {
        flex-direction: column;
    }

    .formats__slider
    {
        max-width: 100%;
    }

    .formats__description
    {
        max-width: 100%;
    }

    .container__buttons-mobile
    {
        max-width: 100%;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background-color: #1883FF;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }

    .buttons__chevron-down
    {
        position: absolute;
        right: 0;
        margin-right: 22px;
    }

    .chevron-down
    {
        transition: .4s;
    }
    .chevron-down.active
    {
        transform: rotate(180deg);
        transition: .4s;
    }

    .buttons__list
    {        
        list-style-type: none;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .buttons__list.active
    {
        position: absolute;
        max-width: 100%;
        width: 100%;
        bottom: -100px;
        justify-content: flex-start;
        background-color: #E5E5E5;
        border-radius: 5px;
        z-index: 1;
        padding: 20px 0;
        transition: .3s;
    }

    .list__button-mobile
    {
        display: none;
    }

    .list__button-mobile.active
    {
        font: 16px/22px 'Gilroy', sans-serif;
        display: flex;
        align-items: center;
        padding-left: 20px;
        max-width: 100%;
        width: 100%;
        border: 2px transparent;
        background-color: transparent;
        border-radius: 3px;    
        color: #fff;
        cursor: default;
        transition: .3s;
    }

    .list__button-mobile.listed-button
    {
        font: 16px/22px 'Gilroy', sans-serif;
        display: flex;
        align-items: center;
        padding-left: 20px;
        max-width: 100%;
        width: 100%;
        border: 2px transparent;
        background-color: transparent;
        border-radius: 3px;    
        color: #000;
        cursor: default;
        transition: all ease .3s;
        margin-bottom: 15px;
    }

    .list__button-mobile.listed-button:last-child
    {
        margin: 0;
    }

    .formats__slider_bigtop .slick-dots,
    .formats__slider_smalltop,
    .formats__slider_bigbottom .slick-dots,
    .formats__slider_smallbottom
    {
        display: none !important;
    }

    .amenities__heading
    {
        margin: 10px 0 15px 0;
    }

    .facilities__wrapper
    {
        margin-bottom: 80px;
    }

    .amenities__title
    {
        font: 500 18px/27px 'Gilroy', sans-serif;
    }

    .amenities__items
    {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .list,
    .list:nth-child(2)
    {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .convenience,
    .convenience:last-child
    {
        margin-bottom: 15px;
    }

    .about__description
    {
        font: 14px/21px 'Gilroy', sans-serif;
    }

    .info__feedbacks
    {
        margin-bottom: 80px;
    }

    .info__coworkings
    {
        margin-bottom: 80px;
    }
    
    .footer__above
    {
        flex-direction: column;
    }

    .above__logo
    {
        padding-bottom: 20px;
        border-bottom: 2px solid #0068E1;
        margin-bottom: 20px;
    }

    .above__logo,
    .footer__above_info
    {
        max-width: 100%;
        width: 100%;
    }

    .footer__logo
    {
        width: 115px;
    }

    .under__wrapper_about,
    .under__wrapper_towns,
    .under__wrapper_info,
    .under__wrapper_connection
    {
        max-width: 100%;
    }

    .under__wrapper_about
    {
        height: 123px;
    }

    .under__wrapper_towns
    {
        height: 267px;
    }

    .under__wrapper_info
    {
        height: 231px;
        border-bottom: 2px solid #0068E1;
    }

    .footer__under_info.basement
    {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .wrapper__button_form
    {
        max-width: 100%;
        padding-bottom: 25px;
        border-bottom: 2px solid #0068E1;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 481px)
{
    .footer__container
    {
        max-width: 87%;
    }    
}